* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #80eecf70;
    color: rgb(38, 94, 41);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin: 0;
    background-color: #a2f4dcc7;
    color: #445b5c;
    padding-top: 10px;
    text-align: center;
}

img {
    width: 100%;
}

.grid-container {
    width: 80vw;
    gap: 10px;
    margin: 50px;
    columns: 220px 4;

}


.cards {
    margin-top: 10px;
    break-inside: avoid;
    border: 3px solid rgb(106, 150, 120);
    border-radius: 7%;
    padding: 10px;
    height: fit-content;
    display: grid;
    grid-template-areas:
        'h1 h1 img img'
        'h3 h3 img img'
        'p  p  p   p'
        'price price price btn';
}

.first {
    margin-top: 0;
}

.cards h1 {
    grid-area: h1;
}

.cards h3 {
    grid-area: h3;
}

.cards img {
    justify-self: end;
    grid-area: img;
}

.cards p {
    grid-area: p;
}

.cards h4 {
    grid-area: price;
}

.btn {
    grid-area: btn;
    border-radius: 20%;
    height: 40px;
    cursor: pointer;
    background: #a5d5f8;
    border: #63b4eed5;
    font-family: fantasy;
}

.btn:hover {
    background: #7bbabc;
}